<a href="https://colab.research.google.com/github/its-sdm/TheHotels/blob/master/ProjectDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Notebook

## Introduction
Welcome to this data science notebook. In this notebook, we will explore various data science concepts, languages, libraries, and tools. We will also perform arithmetic operations and demonstrate code examples. Let's get started!

## Data Science Languages
- Python
- R
- Julia
- SQL
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch
- ggplot

## Data Science Tools

| Category     | Tools               |
|--------------|---------------------|
| Programming  | Python, R, Julia    |
| Data Wrangling | Pandas, dplyr, SQL |
| Visualization | Matplotlib, ggplot |
| Machine Learning | Scikit-learn, TensorFlow, PyTorch |

## Arithmetic Expression Examples
In the following code cells, we will demonstrate some arithmetic operations using variables and numbers.

In [1]:
# Multiply and Add Numbers
num1 = 5
num2 = 10

multiply_result = num1 * num2
add_result = num1 + num2

multiply_result, add_result

(50, 15)

In [2]:
# Convert Minutes to Hours
minutes = 120

hours = minutes / 60

hours

2.0

## Objectives
- Explore data science concepts and languages
- Use data science libraries for analysis and visualization
- Perform arithmetic operations using variables and numbers
- Convert units of time

## Author
Sadeem Alyousef